#!/usr/bin/make -f
# -*- makefile -*-
DEB_VERSION:=$(shell dpkg-parsechangelog -n1 | sed -n '/^Version: /s///p')
DEB_UPSTREAM_VERSION:=$(shell DEB_VERSION=${DEB_VERSION}; echo $${DEB_VERSION%-*})
DEB_UPSTREAM_VERSION:=$(shell DEB_UPSTREAM_VERSION=${DEB_UPSTREAM_VERSION}; echo $${DEB_UPSTREAM_VERSION\#*:})
DEB_MASTER_VERSION:=$(shell DEB_UPSTREAM_VERSION=${DEB_UPSTREAM_VERSION}; echo $${DEB_UPSTREAM_VERSION\#*+git})

#uncomment this to turn on verbose mode.
export DH_VERBOSE=1

%:
	dh $@

get-orig-source:
	rm -rf debian/tmp; mkdir debian/tmp
	cd debian/tmp; wget https://github.com/minos-org/minos-artwork/archive/${DEB_MASTER_VERSION}.tar.gz
	cd debian/tmp; tar xvzf ${DEB_MASTER_VERSION}.tar.gz
	cd debian/tmp; mv minos-artwork-* minos-artwork-${DEB_UPSTREAM_VERSION}
	cd debian/tmp; tar cvJf minos-artwork_${DEB_UPSTREAM_VERSION}.orig.tar.xz minos-artwork-${DEB_UPSTREAM_VERSION}
	mv debian/tmp/minos-artwork_${DEB_UPSTREAM_VERSION}.orig.tar.xz .
	mv debian/tmp/minos-artwork-${DEB_UPSTREAM_VERSION} .
	rm -rf debian/tmp
